.top-section {
  margin-left: 125px;
  margin-right: 25px;
}
.about-section {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  width: 750px;
}
.profile-picture {
  display: flex;
  width: 250px;
  margin-top: 35px;
  height: 160px;

}
.profile-pic {
  border-radius: 100px;
  border: 6px solid rgb(209, 206, 206);
  outline: 5px solid white;
  outline-offset: -6px;
}
.row1,
.row2,
.row3,
.row4{
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.verify-img{
  width: 20px;
  height: 20px;
  padding-right: 25px;
}
.username{
  font-size: 22px;
}
.button-following {
  padding: 7px 25px 7px 15px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}
.button-message {
  margin-left: 8px;
  padding: 7px 15px 7px 15px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}
.button-add-frnd{
   margin-left: 8px;
  padding: 7px 10px 7px 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}
.addfrnd-img{
  width: 13px;
  height: 13px;
}
.more-img{
  width: 30px;
  padding-left: 12px;
}
.number{
  font-size:16px ;
  font-weight: 500;
  padding-right: 4px;
}
.text{
  padding-right: 40px;
}
.name ,
.designation ,
.about-me{
  font-size: 14px;
padding-bottom: 3px;
}
.name{
  font-weight: 500;
}
.designation{
  font-weight: 300;
  color: gray;
}
.about-me{
  font-weight: 300;
}
.following{
  font-size: 12px;
  color: rgb(153, 151, 151);
}
.span{
  color: black;
}

.highlights{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 750px;
  /* align-items: center; */
}
.story-thumbnail-img{
width: 75px;
height: 75px;
border: 9px solid rgb(255, 255, 255);
outline: 2px solid rgb(230, 227, 227);
outline-offset: -6px;
border-radius: 48px;
}

.highlights-caption{
text-align: center;  
}
.bottom-section{
  width: 750px;
  padding-left: 85px;
  padding-right:20px ;
}

.post-reel-tag{
  display: flex;
  flex-direction: row;
  padding-left: 265px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid rgb(207, 201, 201);
}
.section-icon{
  height: 13px;
}
.section-posts,
.section-reels,
.section-tagged{
  font-size: 13px;
  font-weight: 500;
  text-decoration:none;
  padding-right: 50px;
  color: gray;
}

.posts{
  display: grid;
  grid-template-columns:265px 265px 250px;
  grid-gap:4px;

}
.div-img{
  position: relative;
 margin-top: 10px;
  background-color: rgb(255, 255, 255);
  height: 250px;
}

.post-img{
  height: 260px;
  width: 265px;
  object-fit: cover;
}
.div-img:hover
{
 opacity: 0.5;
 color: rgba(0, 0, 0, 0.8);
}
#post-icon-id{
  position: relative;
}
#post-reels-icon{
  position: absolute;
  width: 20px;
  color: white;
  top: 8px;
  right: 8px;
  
}

@media (min-width:1500px){
  .main-body{
    margin-left: 350px;
    margin-right: 550px;
  }
   .sidebar{
   padding-right: 170px;
  }
}